header {
  background-image: url("https://images.pexels.com/photos/5588380/pexels-photo-5588380.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.myProfile {
  width: 20%;
  height: 50%;
  margin: auto;
}
.profileImg {
  border: 1px solid black;
  border-radius: 50%;
}
.d-print-none {
  width: 18%;
  height: 50%;
  margin: auto;
}

section {
  display: flex;
  background-color: aliceblue;
  width: 80%;
  height: 90%;
  margin: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 3px 1px;
  margin-top: 10px;
}
.about {
  padding: 5%;
  width: 50%;
  height: 50%;
}
.info {
  width: 50%;
  height: 50%;
  display: inline-table;
}

.skills {
  width: 20%;
  height: 20%;
  margin: auto;
}
footer {
  display: flex;
  background-color: rgb(240, 248, 255);
  width: 80%;
  height: 80%;
  margin: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 3px 1px;
  margin-top: 10px;
}
.social {
  margin: 50px;
}
a {
  text-decoration: none;
  color: black;
}

